.sign-up form {
    display: flex;
    flex-direction: column;
    width: 20%;
    justify-content: center;
}

.sign-up p {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.sign-up form input {
    padding: 8px;
    height: 20px;
    margin: 8px 0;
    background-color: transparent;
    border: 2px solid black;
}

.sign-up-form-signup {
    height: 48px;
    margin: 8px 0;
    background-color: black;
    border: 2px solid black;
    color: white;
    transition: .3s ease all;
    font-weight: bold;
}

.sign-up-form-signup:hover {
    background-color: transparent;
    border: 2px solid black;
    color: black;
    transition: .3s ease all;
    cursor: pointer;
}

.sign-up-form-signin {
    height: 32px;
    margin: 8px 0;
    background-color: transparent;
    border: none;
    color: black;
    transition: .3s ease all;
    font-weight: bold;
}

.sign-up-form-signin:hover {
    color: blue;
    transition: .3s ease all;
    cursor: pointer;
}